<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wsg.lol.dao.mapper.ChampionMapper">
    <insert id="batchInsertOrUpdateChampions">
        INSERT IGNORE INTO c_champion
        (ID,EN_KEY, NAME, TITLE,
        IMAGE_FULL, IMAGE_SPRITE, TAGS,
        LORE, BLURB, PARTYPE,
        INFO_ATTACK, INFO_DEFENSE, INFO_MAGIC,
        INFO_DIFFICULTY, STATS_HP, STATS_HPPERLEVEL,
        STATS_HPREGEN, STATS_HPREGENPERLEVEL, STATS_MP,
        STATS_MPPERLEVEL, STATS_MPREGEN, STATS_MPREGENPERLEVEL,
        STATS_ATTACKDAMAGE, STATS_ATTACKDAMAGEPERLEVEL,
        STATS_ARMOR, STATS_ARMORPERLEVEL, STATS_SPELLBLOCK,
        STATS_SPELLBLOCKPERLEVEL, STATS_ATTACKSPEED,
        STATS_ATTACKSPEEDPERLEVEL, STATS_ATTACKRANGE,
        STATS_MOVESPEED, STATS_CRIT, STATS_CRITPERLEVEL)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.enKey}, #{item.name}, #{item.title}, #{item.image_full}, #{item.image_sprite},
            #{item.tags}, #{item.lore}, #{item.blurb}, #{item.partype}, #{item.info_attack}, #{item.info_defense},
            #{item.info_magic}, #{item.info_difficulty}, #{item.stats_hp}, #{item.stats_hpperlevel},
            #{item.stats_hpregen}, #{item.stats_hpregenperlevel}, #{item.stats_mp}, #{item.stats_mpperlevel},
            #{item.stats_mpregen}, #{item.stats_mpregenperlevel}, #{item.stats_attackdamage},
            #{item.stats_attackdamageperlevel}, #{item.stats_armor}, #{item.stats_armorperlevel},
            #{item.stats_spellblock}, #{item.stats_spellblockperlevel}, #{item.stats_attackspeed},
            #{item.stats_attackspeedperlevel}, #{item.stats_attackrange}, #{item.stats_movespeed}, #{item.stats_crit},
            #{item.stats_critperlevel})
        </foreach>
    </insert>

    <insert id="batchInsertSkins">
        INSERT IGNORE INTO c_skin
        (ID, CHAMPION_ID, NUM, NAME, CHROMAS)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.championId}, #{item.num}, #{item.name}, #{item.chromas})
        </foreach>
    </insert>

    <insert id="batchInsertSpells">
        INSERT IGNORE INTO c_spell
        (ID, CHAMPION_ID, SPELL_TYPE, NAME, MODES, SUMMONER_LEVEL, DESCRIPTION, LEVEL_TIPS, TOOLTIP, IMAGE_FULL,
        IMAGE_SPRITE)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.championId}, #{item.spellType}, #{item.name}, #{item.modes}, #{item.summonerLevel},
            #{item.description}, #{item.levelTips}, #{item.tooltip}, #{item.image_full}, #{item.image_sprite})
        </foreach>
    </insert>

    <select id="selectChampions" resultType="wsg.lol.pojo.dmo.champion.ChampionDmo"
            parameterType="wsg.lol.pojo.dto.query.GetChampionListDto">
        SELECT
        ID, NAME, TITLE, IMAGE_FULL, IMAGE_SPRITE, TAGS, LORE, BLURB, PARTYPE, INFO_ATTACK, INFO_DEFENSE, INFO_MAGIC,
        INFO_DIFFICULTY, STATS_HP, STATS_HPPERLEVEL, STATS_HPREGEN, STATS_HPREGENPERLEVEL, STATS_MP, STATS_MPPERLEVEL,
        STATS_MPREGEN, STATS_MPREGENPERLEVEL, STATS_ATTACKDAMAGE, STATS_ATTACKDAMAGEPERLEVEL, STATS_ARMOR,
        STATS_ARMORPERLEVEL, STATS_SPELLBLOCK, STATS_SPELLBLOCKPERLEVEL, STATS_ATTACKSPEED, STATS_ATTACKSPEEDPERLEVEL,
        STATS_ATTACKRANGE, STATS_MOVESPEED, STATS_CRIT, STATS_CRITPERLEVEL
        FROM c_champion T
        <where>
            <if test="name != null and name != ''">
                AND T.NAME LIKE CONCAT('%',#{name},'%')
            </if>
        </where>
    </select>
    <select id="selectChampionByCond" resultType="wsg.lol.pojo.dmo.champion.ChampionDmo"
            parameterType="wsg.lol.pojo.dto.query.GetChampionDto">
        SELECT
        ID,EN_KEY, NAME, TITLE, IMAGE_FULL, IMAGE_SPRITE, TAGS, LORE, BLURB, PARTYPE, INFO_ATTACK, INFO_DEFENSE,
        INFO_MAGIC, INFO_DIFFICULTY, STATS_HP, STATS_HPPERLEVEL, STATS_HPREGEN, STATS_HPREGENPERLEVEL, STATS_MP,
        STATS_MPPERLEVEL, STATS_MPREGEN, STATS_MPREGENPERLEVEL, STATS_ATTACKDAMAGE, STATS_ATTACKDAMAGEPERLEVEL,
        STATS_ARMOR, STATS_ARMORPERLEVEL, STATS_SPELLBLOCK, STATS_SPELLBLOCKPERLEVEL, STATS_ATTACKSPEED,
        STATS_ATTACKSPEEDPERLEVEL, STATS_ATTACKRANGE, STATS_MOVESPEED, STATS_CRIT, STATS_CRITPERLEVEL FROM c_champion T
        <where>
            <if test="championId != null">
                AND T.ID = #{championId}
            </if>
            <if test="name != null and name != ''">
                AND T.NAME = #{name}
            </if>
        </where>
    </select>
</mapper>