<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wsg.lol.dao.mybatis.mapper.EventMapper">

    <insert id="insertSummonerEvent" parameterType="wsg.lol.pojo.event.SummonerEvent">
        INSERT INTO e_summoner_event
            (NAME)
        VALUES (#{summonerName})
    </insert>
</mapper>