<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wsg.lol.dao.mybatis.mapper.MasteryMapper">
    <insert id="insertMastery" parameterType="wsg.lol.common.pojo.dto.summoner.ChampionMasteryDto"
            useGeneratedKeys="true">
        INSERT INTO c_mastery
        (SUMMONER_ID, CHAMPION_ID, CHEST_GRANTED, CHAMPION_LEVEL, CHAMPION_POINTS, CHAMPION_POINTS_UNTIL_NEXT_LEVEL,
         CHAMPION_POINTS_SINCE_LAST_LEVEL, TOKENS_EARNED, LAST_PLAY_TIME)
        VALUES (#{summonerId}, #{championId}, #{chestGranted}, #{championLevel}, #{championPoints},
                #{championPointsUntilNextLevel}, #{championPointsSinceLastLevel}, #{tokensEarned}, #{lastPlayTime})
    </insert>

    <update id="updateByUnionKey">
        UPDATE c_mastery
        SET CHEST_GRANTED=#{chestGranted},
            CHAMPION_LEVEL=#{championLevel},
            CHAMPION_POINTS=#{championPoints},
            CHAMPION_POINTS_UNTIL_NEXT_LEVEL=#{championPointsUntilNextLevel},
            CHAMPION_POINTS_SINCE_LAST_LEVEL=#{championPointsSinceLastLevel},
            TOKENS_EARNED=#{tokensEarned},
            LAST_PLAY_TIME=#{lastPlayTime}
        WHERE SUMMONER_ID = #{summonerId}
          AND CHAMPION_ID = #{championId}
    </update>

    <select id="selectByUnionKey" resultType="wsg.lol.common.pojo.dmo.champion.ChampionMasteryDmo">
        SELECT ID,
               SUMMONER_ID,
               CHAMPION_ID,
               CHEST_GRANTED,
               CHAMPION_LEVEL,
               CHAMPION_POINTS,
               CHAMPION_POINTS_UNTIL_NEXT_LEVEL,
               CHAMPION_POINTS_SINCE_LAST_LEVEL,
               TOKENS_EARNED,
               LAST_PLAY_TIME
        FROM c_mastery
        WHERE SUMMONER_ID = #{param1}
          AND CHAMPION_ID = #{param2}
    </select>
</mapper>