<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wsg.lol.dao.mybatis.mapper.MatchReferenceMapper">
    <insert id="insertReference" parameterType="wsg.lol.common.pojo.dto.match.MatchReferenceDto"
            useGeneratedKeys="true">
        INSERT INTO m_reference
        (GAME_ID, SUMMONER_ID, LANE, CHAMPION, PLATFORM_ID, SEASON, QUEUE, ROLE, GAME_CREATION)
        VALUES (#{gameId}, #{summonerId}, #{lane}, #{champion}, #{platformId}, #{season}, #{queue}, #{role},
                #{gameCreation})
    </insert>
</mapper>