<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wsg.lol.dao.mybatis.mapper.MatchMapper">
    <update id="updateCheckedByKey">
        UPDATE m_reference
        SET CHECKED=#{param2}
        WHERE id = #{param1}
    </update>
    <select id="selectLastUncheckedMatches" resultType="wsg.lol.pojo.dmo.match.MatchReferenceDmo">
        SELECT ID,
               GAME_ID,
               SUMMONER_ID,
               LANE,
               CHAMPION,
               PLATFORM_ID,
               SEASON,
               QUEUE,
               ROLE,
               GAME_CREATION,
               CHECKED
        FROM m_reference
        ORDER BY CHECKED
            LIMIT #{startIndex}, #{pageSize}
    </select>
    <select id="selectByPrimaryKey" resultType="wsg.lol.pojo.dmo.match.MatchReferenceDmo">
        SELECT ID,
               GAME_ID,
               SUMMONER_ID,
               LANE,
               CHAMPION,
               PLATFORM_ID,
               SEASON,
               QUEUE,
               ROLE,
               GAME_CREATION,
               CHECKED
        FROM m_reference
        WHERE ID = #{id}
    </select>
    <insert id="insert" parameterType="wsg.lol.pojo.dto.api.match.MatchReferenceDto" useGeneratedKeys="true">
        insert into m_reference
        (GAME_ID, SUMMONER_ID, LANE, CHAMPION, PLATFORM_ID, SEASON, QUEUE, ROLE, GAME_CREATION)
        values (#{gameId},
                #{summonerId},
                #{lane},
                #{champion},
                #{platformId},
                #{season},
                #{queue},
                #{role},
                #{timestamp})
    </insert>
</mapper>