<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wsg.lol.dao.mapper.ParticipantMapper">
    <sql id="Base_Column_List">
        ID, GAME_ID, PARTICIPANT_ID, SUMMONER_ID, CHAMPION_ID, TEAM_ID, LANE, ROLE, SPELL1_ID,
    SPELL2_ID, HIGHEST_ACHIEVED_SEASON_TIER
    </sql>
    <select id="selectByPrimaryKey" resultType="wsg.lol.pojo.dmo.match.ParticipantDmo" parameterType="java.lang.Long">
        select
        <include refid="Base_Column_List"/>
        from m_participant
        where ID = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete
        from m_participant
        where ID = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="wsg.lol.pojo.dmo.match.ParticipantDmo">
        insert into m_participant (ID, GAME_ID, PARTICIPANT_ID,
                                   SUMMONER_ID, CHAMPION_ID, TEAM_ID,
                                   LANE, ROLE, SPELL1_ID, SPELL2_ID,
                                   HIGHEST_ACHIEVED_SEASON_TIER)
        values (#{id,jdbcType=BIGINT}, #{gameId,jdbcType=BIGINT}, #{participantId,jdbcType=INTEGER},
                #{summonerId,jdbcType=VARCHAR}, #{championId,jdbcType=INTEGER}, #{teamId,jdbcType=CHAR},
                #{lane,jdbcType=CHAR}, #{role,jdbcType=CHAR}, #{spell1Id,jdbcType=VARCHAR},
                #{spell2Id,jdbcType=VARCHAR},
                #{highestAchievedSeasonTier,jdbcType=CHAR})
    </insert>
    <insert id="insertSelective" parameterType="wsg.lol.pojo.dmo.match.ParticipantDmo">
        insert into m_participant
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="gameId != null">
                GAME_ID,
            </if>
            <if test="participantId != null">
                PARTICIPANT_ID,
            </if>
            <if test="summonerId != null">
                SUMMONER_ID,
            </if>
            <if test="championId != null">
                CHAMPION_ID,
            </if>
            <if test="teamId != null">
                TEAM_ID,
            </if>
            <if test="lane != null">
                LANE,
            </if>
            <if test="role != null">
                ROLE,
            </if>
            <if test="spell1Id != null">
                SPELL1_ID,
            </if>
            <if test="spell2Id != null">
                SPELL2_ID,
            </if>
            <if test="highestAchievedSeasonTier != null">
                HIGHEST_ACHIEVED_SEASON_TIER,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="gameId != null">
                #{gameId,jdbcType=BIGINT},
            </if>
            <if test="participantId != null">
                #{participantId,jdbcType=INTEGER},
            </if>
            <if test="summonerId != null">
                #{summonerId,jdbcType=VARCHAR},
            </if>
            <if test="championId != null">
                #{championId,jdbcType=INTEGER},
            </if>
            <if test="teamId != null">
                #{teamId,jdbcType=CHAR},
            </if>
            <if test="lane != null">
                #{lane,jdbcType=CHAR},
            </if>
            <if test="role != null">
                #{role,jdbcType=CHAR},
            </if>
            <if test="spell1Id != null">
                #{spell1Id,jdbcType=VARCHAR},
            </if>
            <if test="spell2Id != null">
                #{spell2Id,jdbcType=VARCHAR},
            </if>
            <if test="highestAchievedSeasonTier != null">
                #{highestAchievedSeasonTier,jdbcType=CHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="wsg.lol.pojo.dmo.match.ParticipantDmo">
        update m_participant
        <set>
            <if test="gameId != null">
                GAME_ID = #{gameId,jdbcType=BIGINT},
            </if>
            <if test="participantId != null">
                PARTICIPANT_ID = #{participantId,jdbcType=INTEGER},
            </if>
            <if test="summonerId != null">
                SUMMONER_ID = #{summonerId,jdbcType=VARCHAR},
            </if>
            <if test="championId != null">
                CHAMPION_ID = #{championId,jdbcType=INTEGER},
            </if>
            <if test="teamId != null">
                TEAM_ID = #{teamId,jdbcType=CHAR},
            </if>
            <if test="lane != null">
                LANE = #{lane,jdbcType=CHAR},
            </if>
            <if test="role != null">
                ROLE = #{role,jdbcType=CHAR},
            </if>
            <if test="spell1Id != null">
                SPELL1_ID = #{spell1Id,jdbcType=VARCHAR},
            </if>
            <if test="spell2Id != null">
                SPELL2_ID = #{spell2Id,jdbcType=VARCHAR},
            </if>
            <if test="highestAchievedSeasonTier != null">
                HIGHEST_ACHIEVED_SEASON_TIER = #{highestAchievedSeasonTier,jdbcType=CHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="wsg.lol.pojo.dmo.match.ParticipantDmo">
        update m_participant
        set GAME_ID                      = #{gameId,jdbcType=BIGINT},
            PARTICIPANT_ID               = #{participantId,jdbcType=INTEGER},
            SUMMONER_ID                  = #{summonerId,jdbcType=VARCHAR},
            CHAMPION_ID                  = #{championId,jdbcType=INTEGER},
            TEAM_ID                      = #{teamId,jdbcType=CHAR},
            LANE                         = #{lane,jdbcType=CHAR},
            ROLE                         = #{role,jdbcType=CHAR},
            SPELL1_ID                    = #{spell1Id,jdbcType=VARCHAR},
            SPELL2_ID                    = #{spell2Id,jdbcType=VARCHAR},
            HIGHEST_ACHIEVED_SEASON_TIER = #{highestAchievedSeasonTier,jdbcType=CHAR}
        where ID = #{id,jdbcType=BIGINT}
    </update>
</mapper>