<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wsg.lol.dao.mapper.SkinMapper">
    <sql id="Base_Column_List">
        ID, CHAMPION_ID, NUM, NAME, CHROMAS
    </sql>
    <select id="selectByPrimaryKey" resultType="wsg.lol.dmo.champion.SkinDmo" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from c_skin
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from c_skin
        where ID = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="wsg.lol.dmo.champion.SkinDmo">
        insert into c_skin (ID, CHAMPION_ID, NUM,
                            NAME, CHROMAS)
        values (#{id,jdbcType=VARCHAR}, #{championId,jdbcType=INTEGER}, #{num,jdbcType=INTEGER},
                #{name,jdbcType=VARCHAR}, #{chromas,jdbcType=BIT})
    </insert>
    <insert id="insertSelective" parameterType="wsg.lol.dmo.champion.SkinDmo">
        insert into c_skin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="championId != null">
                CHAMPION_ID,
            </if>
            <if test="num != null">
                NUM,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="chromas != null">
                CHROMAS,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="championId != null">
                #{championId,jdbcType=INTEGER},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="chromas != null">
                #{chromas,jdbcType=BIT},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="wsg.lol.dmo.champion.SkinDmo">
        update c_skin
        <set>
            <if test="championId != null">
                CHAMPION_ID = #{championId,jdbcType=INTEGER},
            </if>
            <if test="num != null">
                NUM = #{num,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="chromas != null">
                CHROMAS = #{chromas,jdbcType=BIT},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="wsg.lol.dmo.champion.SkinDmo">
        update c_skin
        set CHAMPION_ID = #{championId,jdbcType=INTEGER},
            NUM         = #{num,jdbcType=INTEGER},
            NAME        = #{name,jdbcType=VARCHAR},
            CHROMAS     = #{chromas,jdbcType=BIT}
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>