<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wsg.lol.dao.mapper.SpellMapper">
    <sql id="Base_Column_List">
        ID, CHAMPION_ID, SPELL_TYPE, NAME, MODES, SUMMONER_LEVEL, DESCRIPTION, LEVEL_TIPS,
    TOOLTIP, IMAGE_FULL, IMAGE_SPRITE
    </sql>
    <select id="selectByPrimaryKey" resultType="wsg.lol.dmo.champion.SpellDmo" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from c_spell
        where ID = #{id,jdbcType=VARCHAR}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
        delete
        from c_spell
        where ID = #{id,jdbcType=VARCHAR}
    </delete>
    <insert id="insert" parameterType="wsg.lol.dmo.champion.SpellDmo">
        insert into c_spell (ID, CHAMPION_ID, SPELL_TYPE,
                             NAME, MODES, SUMMONER_LEVEL,
                             DESCRIPTION, LEVEL_TIPS, TOOLTIP,
                             IMAGE_FULL, IMAGE_SPRITE)
        values (#{id,jdbcType=VARCHAR}, #{championId,jdbcType=INTEGER}, #{spellType,jdbcType=TINYINT},
                #{name,jdbcType=VARCHAR}, #{modes,jdbcType=VARCHAR}, #{summonerLevel,jdbcType=INTEGER},
                #{description,jdbcType=VARCHAR}, #{levelTips,jdbcType=VARCHAR}, #{tooltip,jdbcType=VARCHAR},
                #{imageFull,jdbcType=VARCHAR}, #{imageSprite,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="wsg.lol.dmo.champion.SpellDmo">
        insert into c_spell
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                ID,
            </if>
            <if test="championId != null">
                CHAMPION_ID,
            </if>
            <if test="spellType != null">
                SPELL_TYPE,
            </if>
            <if test="name != null">
                NAME,
            </if>
            <if test="modes != null">
                MODES,
            </if>
            <if test="summonerLevel != null">
                SUMMONER_LEVEL,
            </if>
            <if test="description != null">
                DESCRIPTION,
            </if>
            <if test="levelTips != null">
                LEVEL_TIPS,
            </if>
            <if test="tooltip != null">
                TOOLTIP,
            </if>
            <if test="imageFull != null">
                IMAGE_FULL,
            </if>
            <if test="imageSprite != null">
                IMAGE_SPRITE,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=VARCHAR},
            </if>
            <if test="championId != null">
                #{championId,jdbcType=INTEGER},
            </if>
            <if test="spellType != null">
                #{spellType,jdbcType=TINYINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="modes != null">
                #{modes,jdbcType=VARCHAR},
            </if>
            <if test="summonerLevel != null">
                #{summonerLevel,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                #{description,jdbcType=VARCHAR},
            </if>
            <if test="levelTips != null">
                #{levelTips,jdbcType=VARCHAR},
            </if>
            <if test="tooltip != null">
                #{tooltip,jdbcType=VARCHAR},
            </if>
            <if test="imageFull != null">
                #{imageFull,jdbcType=VARCHAR},
            </if>
            <if test="imageSprite != null">
                #{imageSprite,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="wsg.lol.dmo.champion.SpellDmo">
        update c_spell
        <set>
            <if test="championId != null">
                CHAMPION_ID = #{championId,jdbcType=INTEGER},
            </if>
            <if test="spellType != null">
                SPELL_TYPE = #{spellType,jdbcType=TINYINT},
            </if>
            <if test="name != null">
                NAME = #{name,jdbcType=VARCHAR},
            </if>
            <if test="modes != null">
                MODES = #{modes,jdbcType=VARCHAR},
            </if>
            <if test="summonerLevel != null">
                SUMMONER_LEVEL = #{summonerLevel,jdbcType=INTEGER},
            </if>
            <if test="description != null">
                DESCRIPTION = #{description,jdbcType=VARCHAR},
            </if>
            <if test="levelTips != null">
                LEVEL_TIPS = #{levelTips,jdbcType=VARCHAR},
            </if>
            <if test="tooltip != null">
                TOOLTIP = #{tooltip,jdbcType=VARCHAR},
            </if>
            <if test="imageFull != null">
                IMAGE_FULL = #{imageFull,jdbcType=VARCHAR},
            </if>
            <if test="imageSprite != null">
                IMAGE_SPRITE = #{imageSprite,jdbcType=VARCHAR},
            </if>
        </set>
        where ID = #{id,jdbcType=VARCHAR}
    </update>
    <update id="updateByPrimaryKey" parameterType="wsg.lol.dmo.champion.SpellDmo">
        update c_spell
        set CHAMPION_ID    = #{championId,jdbcType=INTEGER},
            SPELL_TYPE     = #{spellType,jdbcType=TINYINT},
            NAME           = #{name,jdbcType=VARCHAR},
            MODES          = #{modes,jdbcType=VARCHAR},
            SUMMONER_LEVEL = #{summonerLevel,jdbcType=INTEGER},
            DESCRIPTION    = #{description,jdbcType=VARCHAR},
            LEVEL_TIPS     = #{levelTips,jdbcType=VARCHAR},
            TOOLTIP        = #{tooltip,jdbcType=VARCHAR},
            IMAGE_FULL     = #{imageFull,jdbcType=VARCHAR},
            IMAGE_SPRITE   = #{imageSprite,jdbcType=VARCHAR}
        where ID = #{id,jdbcType=VARCHAR}
    </update>
</mapper>