<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wsg.lol.dao.mapper.SummonerMapper">
    <sql id="Base_Column_List">
        ID, ACCOUNT_ID, PUUID, NAME, PROFILE_ICON_ID, REVISION_DATE, SUMMONER_LEVEL, LAST_CHECKED_TIME
    </sql>
    <select id="selectByPrimaryKey" resultType="wsg.lol.pojo.dmo.summoner.SummonerDmo" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from s_summoner
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <select id="checkSummonersNotExist" resultType="java.lang.String">
        SELECT TEMP.ID1 FROM
        <foreach collection="list" item="item" separator="union" open="(" close=")">
            SELECT #{item} AS ID1
        </foreach>
        TEMP
        LEFT JOIN (SELECT ID AS ID0 FROM s_summoner) T ON TEMP.ID1 = T.ID0
        WHERE T.ID0 IS NULL
    </select>

    <insert id="batchInsertSummoner">
        INSERT INTO s_summoner
        (ID, ACCOUNT_ID, PUUID, NAME, PROFILE_ICON_ID, REVISION_DATE, SUMMONER_LEVEL)
        VALUES
        <foreach collection="list" item="item" separator=",">
            (#{item.id}, #{item.accountId}, #{item.puuid}, #{item.name}, #{item.profileIconId}, #{item.revisionDate},
            #{item.summonerLevel})
        </foreach>
    </insert>

    <insert id="insertSummoner">
        INSERT INTO s_summoner
        (ID, ACCOUNT_ID, PUUID, NAME, PROFILE_ICON_ID, REVISION_DATE, SUMMONER_LEVEL)
        VALUES (#{id}, #{accountId}, #{puuid}, #{name}, #{profileIconId}, #{revisionDate}, #{summonerLevel})
    </insert>

    <select id="queryLastUncheckedSummoners" parameterType="wsg.lol.pojo.base.Page"
            resultType="wsg.lol.pojo.dmo.summoner.SummonerDmo">
        select
        <include refid="Base_Column_List"/>
        from s_summoner
        WHERE LAST_CHECKED_TIME >= (SELECT LAST_CHECKED_TIME FROM
        s_summoner ORDER BY LAST_CHECKED_TIME LIMIT #{startIndex} , 1) LIMIT #{pageSize}
    </select>
    <select id="selectByCond" resultType="wsg.lol.pojo.dmo.summoner.SummonerDmo"
            parameterType="wsg.lol.pojo.dto.query.GetSummonerDto">
        SELECT
        <include refid="Base_Column_List"/>
        FROM s_summoner T
        <where>
            <if test="name != null and name != ''">
                AND T.NAME = #{name}
            </if>
        </where>
    </select>
</mapper>