<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="wsg.lol.dao.mapper.SummonerMapper">
    <sql id="Base_Column_List">
        ID, ACCOUNT_ID, PUUID, NAME, PROFILE_ICON_ID, REVISION_DATE, SUMMONER_LEVEL, LAST_CHECKED_TIME
    </sql>
    <select id="selectByPrimaryKey" resultType="wsg.lol.dmo.summoner.SummonerDmo" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from s_summoner
        where ID = #{id,jdbcType=VARCHAR}
    </select>

    <select id="checkSummonersNotExist">

    </select>
</mapper>