<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wsg.lol.dao.mybatis.mapper.champion.ChampionStatsMapper">
    <delete id="clear">
        delete
        from lol.c_stats
    </delete>

    <insert id="batchInsert" parameterType="wsg.lol.common.pojo.dto.champion.ChampionStatsDto">
        insert into lol.c_stats
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.championId},
            #{item.hp},
            #{item.hpperlevel},
            #{item.hpregen},
            #{item.hpregenperlevel},
            #{item.mp},
            #{item.mpperlevel},
            #{item.mpregen},
            #{item.mpregenperlevel},
            #{item.attackdamage},
            #{item.attackdamageperlevel},
            #{item.armor},
            #{item.armorperlevel},
            #{item.spellblock},
            #{item.spellblockperlevel},
            #{item.attackspeed},
            #{item.attackspeedperlevel},
            #{item.attackrange},
            #{item.movespeed},
            #{item.crit},
            #{item.critperlevel})
        </foreach>
    </insert>

</mapper>