<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wsg.lol.dao.mybatis.mapper.champion.ChampionMapper">
    <delete id="clear">
        delete
        from lol.c_champion
    </delete>

    <insert id="batchInsert" parameterType="wsg.lol.common.pojo.dto.champion.ChampionDto">
        insert into lol.c_champion values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.key},
            #{item.name},
            #{item.title},
            #{item.lore},
            #{item.blurb},
            #{item.tags},
            #{item.partype},
            #{item.infoAttack},
            #{item.infoDefense},
            #{item.infoMagic},
            #{item.infoDifficulty})
        </foreach>
    </insert>
</mapper>