<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wsg.lol.dao.mybatis.mapper.champion.ChampionTipMapper">
    <delete id="clear">
        delete
        from lol.c_tip
    </delete>

    <insert id="batchInsert" useGeneratedKeys="true" parameterType="wsg.lol.common.pojo.dto.champion.ChampionTipDto">
        insert into lol.c_tip
        values
        <foreach collection="list" separator="," item="item">
            (#{item.id},
            #{item.championId},
            #{item.tip},
            #{item.type})
        </foreach>
    </insert>
</mapper>