<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wsg.lol.dao.mybatis.mapper.champion.SkinMapper">
    <resultMap id="BaseResultMap" type="wsg.lol.common.pojo.dto.champion.SkinDto">
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="champion_id" jdbcType="VARCHAR" property="championId"/>
        <result column="num" jdbcType="INTEGER" property="num"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="chromas" jdbcType="TINYINT" property="chromas"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, champion_id, num, name, chromas
    </sql>

    <delete id="clear">
        delete
        from lol.c_skin
    </delete>

    <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from c_skin
        where id = #{id,jdbcType=VARCHAR}
    </select>

    <insert id="batchInsert">
        insert into lol.c_skin
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.championId},
            #{item.num},
            #{item.name},
            #{item.chromas})
        </foreach>
    </insert>
</mapper>