<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wsg.lol.dao.mybatis.mapper.champion.SpellMapper">
    <delete id="deleteByNum">
        delete
        from lol.c_spell
        where num = #{num}
    </delete>

    <insert id="batchInsert" parameterType="wsg.lol.common.pojo.dto.champion.SpellDto">
        insert into lol.c_spell
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.championId},
            #{item.key},
            #{item.name},
            #{item.num},
            #{item.description},
            #{item.maxrank},
            #{item.tooltip},
            #{item.leveltipLabel},
            #{item.leveltipEffect},
            #{item.cooldown},
            #{item.cooldownBurn},
            #{item.cost},
            #{item.costBurn},
            #{item.range},
            #{item.rangeBurn},
            #{item.datavalues},
            #{item.effect},
            #{item.effectBurn},
            #{item.vars},
            #{item.costType},
            #{item.maxammo},
            #{item.resource},
            #{item.summonerLevel},
            #{item.modes})
        </foreach>
    </insert>
</mapper>