<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wsg.lol.dao.mybatis.mapper.system.ImageMapper">
    <delete id="deleteByGroup" parameterType="wsg.lol.common.enums.champion.ImageGroupEnum">
        delete
        from lol.t_image t
        where t.`group` = #{group}
    </delete>

    <insert id="batchInsert" parameterType="wsg.lol.common.pojo.dto.general.ImageDto" useGeneratedKeys="true">
        insert into lol.t_image(related_id, full, sprite, `group`, x, y, w, h)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.relatedId},
            #{item.full},
            #{item.sprite},
            #{item.group},
            #{item.x},
            #{item.y},
            #{item.w},
            #{item.h})
        </foreach>
    </insert>
</mapper>