<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wsg.lol.dao.mybatis.mapper.system.MatchEventMapper">
    <insert id="insertIgnoreList">
        insert ignore into lol.t_event_match
        values
        <foreach collection="ids" item="item" separator=",">
            (#{item},
            #{status})
        </foreach>
    </insert>

    <update id="updateStatus">
        update lol.t_event_match
        set status = #{to}
        where id = #{id}
          and status = #{from}
    </update>
</mapper>