<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wsg.lol.dao.mybatis.mapper.rune.RuneMapper">
    <delete id="clear">
        delete
        from lol.r_rune
    </delete>

    <insert id="batchInsert">
        insert into lol.r_rune(id, `key`, tree_id, name, icon, short_desc, long_desc, num_y, num_x)
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.key},
            #{item.treeId},
            #{item.name},
            #{item.icon},
            #{item.shortDesc},
            #{item.longDesc},
            #{item.numY},
            #{item.numX})
        </foreach>
    </insert>
</mapper>