<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wsg.lol.dao.mybatis.mapper.item.ItemMapper">
    <delete id="clear">
        delete
        from lol.i_item
    </delete>

    <insert id="batchInsert" parameterType="wsg.lol.common.pojo.dto.item.ItemDto">
        insert into lol.i_item
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.id},
            #{item.name},
            #{item.description},
            #{item.colloq},
            #{item.plaintext},
            #{item.from},
            #{item.into},
            #{item.goldBase},
            #{item.goldPurchasable},
            #{item.goldTotal},
            #{item.goldSell},
            #{item.tags},
            #{item.maps},
            #{item.depth},
            #{item.consumed},
            #{item.consumeOnFull},
            #{item.inStore},
            #{item.hideFromAll},
            #{item.stacks},
            #{item.requiredChampion},
            #{item.specialRecipe},
            #{item.requiredAlly})
        </foreach>
    </insert>
</mapper>