<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wsg.lol.dao.mybatis.mapper.item.ItemStatsMapper">
    <delete id="clear">
        delete
        from lol.i_stats
    </delete>

    <insert id="batchInsert" parameterType="wsg.lol.common.pojo.dto.item.ItemStatsDto">
        insert into lol.i_stats
        values
        <foreach collection="list" item="item" separator=",">
            (#{item.itemId},
            #{item.FlatHPPoolMod},
            #{item.FlatMPPoolMod},
            #{item.FlatHPRegenMod},
            #{item.FlatArmorMod},
            #{item.FlatPhysicalDamageMod},
            #{item.FlatMagicDamageMod},
            #{item.FlatMovementSpeedMod},
            #{item.PercentMovementSpeedMod},
            #{item.PercentAttackSpeedMod},
            #{item.FlatCritChanceMod},
            #{item.FlatSpellBlockMod},
            #{item.PercentLifeStealMod})
        </foreach>
    </insert>
</mapper>